# See http://help.github.com/ignore-files/ for more about ignoring files.

# Dependency directory
node_modules

# Build directory
build

# Coverage directory used by tools like istanbul / nyc
coverage
.nyc_output

# Environment variables
.env

# Misc
logs
*.log
npm-debug.log*
*.idea
